*{
    margin: 0;
    padding: 0;
}

.Container{
    text-align: center !important;
    margin: 0px 10px -25px 14px;
    
}
.Container li{
        display: inline-block;
        padding: 10px 5px;
        
      
}
.nav-bar-link   {
    color:red !important;
}
.imgslider img {
    width: 100% !important;
    height: 500px;
    position:static;
    
}

.nav img{
    height: 60px;
    width: 170px;
    
}
.d-flex{
    margin-bottom: auto;
}
.footer{
    background-color: black;
    padding: 20px 25px 20px 25px;
    margin: 0;
    
}
.footer h5{
    color: aqua;
}
.footer h5:hover{
    color: red;
}
.footer a{
    color: white;
}
.footer a:hover{
    color:blue;

}
.footer a:active{
    color:green;
    
}
.footer p{
    color: white;
}